{% extends "components/base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-6">
        <h2 class="text-muted">Register</h2>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form3-group">
                <label for="{{ form3.email.id_for_label}}">Email</label>
                <input type="email" name="{{ form3.email.name }}" class="form-control" value="{{ form3.email.value }}" />
                <span class="text-danger"> {{ form3.email.errors }}  </span>
            </div>

            <div class="form3-group">
                <label for="{{ form3.username.id_for_label}}">Username</label>
                <input type="text" name="{{ form3.username.name }}" class="form-control" value="{{ form3.username.value }}" />
                <span class="text-danger"> {{ form3.username.errors }}  </span>
            </div>

            <div class="form3-group">
                <label for="{{ form3.password1.id_for_label}}">Password</label>
                <input type="password" name="{{ form3.password1.name }}" class="form-control" value="{{ form3.password1.value }}" />
                <span class="text-danger"> {{ form3.password1.errors }} </span>
            </div>

            <div class="form3-group">
                <label for="{{ form3.password2.id_for_label}}">Re-Type Password</label>
                <input type="password" name="{{ form3.password2.name }}" class="form-control" value="{{ form3.password2.value }}" />
                <span class="text-danger"> {{ form3.password2.errors }} </span>
            </div>

            <div class="form3-group">
                <label for="{{ form3.first_name.id_for_label}}">First Name</label>
                <input type="text" name="{{ form3.first_name.name }}" class="form-control" value="{{ form3.first_name.value }}" />
                <span class="text-danger"> {{ form3.first_name.errors }} </span>
            </div>

            <div class="form3-group">
                <label for="{{ form3.last_name.id_for_label}}">Last Name</label>
                <input type="text" name="{{ form3.last_name.name }}" class="form-control" value="{{ form3.last_name.value }}" />
                <span class="text-danger"> {{ form3.last_name.errors }} </span>
            </div>

            <div class="form2-group">
                <label for="{{ form2.phone.id_for_label}}">Phone Number</label>
                <input type="text" name="{{ form2.phone.name }}" class="form-control" value="{{ form2.phone.value }}" />
                <span class="text-danger"> {{ form2.phone.errors }} </span>
            </div>
            
            <br>
            <button type="submit" class="btn btn-dark">Submit</button>
            <a href="{% url 'login' %}" class="btn btn-default">Login</a>
            </br>
        </form>
    </div>
</div>

{% endblock %}