{% extends "components/base.html" %}

{% block content %}
<html>
    <head>
        <title>ระบบขอใช้บริการยานพาหนะส่วนกลาง</title>
        <link rel="stylesheet" href=" {% static 'styles.css' %}">
    </head>
    <body>
        <div class="banner">
            <div class="content">
                <h1>ระบบขอใช้บริการยานพาหนะส่วนกลาง</h1>
                <p>บริการรถยนต์ส่วนกลางโดยมีทั้ง รถเก๋ง รถตู้ รถบัส และรถบรรทุก เพื่อบริการท่านในกิจกรรมต่างๆ 
                    <br>ที่เกี่ยวข้องกับภารกิจของคณะ หน่วยงาน และมหาวิทยาลัย โดยให้บริการทั้งในเขตจังหวัด และนอกเขตจังหวัดขอนแก่น </p>
                    <div>
                        <button type="button"><span></span>ขอใช้ยานพาหนะส่วนกลาง</button>
                    </div>
            </div>
        </div>

    </body>
</html>
{% endblock %}
